infinitest.filters

# Ignore classes
bin/
classes
# maven built directories
target/

/_CurrentlySelectedTest.launch

.idea/
jajuk.iml
src/*/*.iml
/.settings/
build
/packages/
/.gradle/
/out/
/src/main/main.iml
/src/test/test.iml
