[Desktop Entry]
Type=Application
Name=Jajuk
Exec=jajuk
GenericName=Jajuk Advanced Jukebox
Icon=/usr/share/pixmaps/jajuk-logo.png
Categories=Multimedia
