[Desktop Entry]
X-SuSE-translate=true
Name=Jajuk
Comment=Jajuk Advanced Jukebox
Exec=jajuk
Icon=/usr/share/pixmaps/jajuk-logo.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;AudioVideo;Audio;Player
