[Desktop Entry]
Type=Application
Name=Jajuk
Exec=jajuk
GenericName=Jajuk Advanced Jukebox
Icon=/usr/share/pixmaps/jajuk-logo.png
MimeType=audio/x-mp3;audio/x-wav;application/x-ogg;
Categories=X-SuSE-Core-Multimedia
