/*
colors used:	gray:			#34363b
				light gray:		#e1e0e0
				green:			#9CEC4F
				light green:	#CDECAF
*/

body, td, select, input, li{
font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
font-size: 1em;
}

a {
text-decoration: underline;
}

a:link {
color:#34363b;
}

a:visited{
color:#34363b;
}

a:active, a:hover {
color:#34363b;
text-decoration: none;
}

a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
background: url(../images/external.png) right center no-repeat;
padding-right: 15px;
}

a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
background: url(../images/newwindow.png) right center no-repeat;
padding-right: 18px;
}

h1 {
padding: 6px;
color: #34363b;
font-size: xx-large;
}

h2 {
padding: 4px;
color: #34363b;
font-size: x-large;
border-top:2px solid #CDECAF;
}

h3 {
padding: 4px;
color: #34363b;
font-weight: normal;
font-size: large;
}

ul li {
list-style-position: outside;
margin:0;
padding:0;
}

#navcolumn h5 {
border-bottom: 1px solid #9CEC4F;
padding-top: 16px;
}

#navcolumn li {
font-size: 0.9em;
}

table.bodyTable th {
color: white;
background-color: #CDECAF;
text-align: left;
font-weight: bold;
}

table.bodyTable tr.a {
background-color: #e1e0e0;
}

table.bodyTable tr.b {
background-color: #ecebeb;
}

.source {
border: 1px solid #e1e0e0;
}

#lastPublished {
font-size: x-small;
}