[Desktop Entry]
Name=Jajuk
Comment=Jajuk Advanced Jukebox
Exec=jajuk
Icon=jajuk-icon_16x16
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AudioVideo
