<web-app>
	<display-name>Jajuk</display-name>
	<servlet>
		<servlet-name>JnlpDownloadServlet</servlet-name>
		<servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>

		<init-param>
			<param-name>logLevel</param-name>
			<param-value>DEBUG</param-value>
		</init-param>

		<init-param>
			<param-name>logPath</param-name>
			<param-value>/tmp/jnlpdownloadservlet.log</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>JnlpDownloadServlet</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
</web-app>
